$Montserrat: ('Light', 300),
('Regular', 400),
('Bold', 700),
('BlackItalic', 701);

@each $name,
$weight in $Montserrat {
    @font-face {
        font-family: 'Montserrat';
        src        : url('@/assets/fonts/Montserrat-#{$name}.ttf');
        font-style : normal;
        font-weight: $weight;
    }
}

$Raleway: ('Regular', 400),
('Bold', 700);

@each $name,
$weight in $Raleway {
    @font-face {
        font-family: 'Raleway';
        src        : url('@/assets/fonts/Raleway-#{$name}.ttf');
        font-style : normal;
        font-weight: $weight;
    }
}