.footer {
    padding-bottom: 81px;
    background: #1F1F1F;

    &::before {
        content: '';
        display: block;
        background: #00000078;
        height: 100px;
        width: 100%;
        margin-bottom: 31px;
    }

    &__socials {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 15px;

        & li img {
            transition: 0.4s ease-in-out;
            opacity: 0.7;
        }

        & li:hover img {
            transform: scale(1.2);
            opacity: 1;
        }
    }

    &__text,
    &__text a {
        color: #A5A5A5;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 300;
        max-width: 1028px;
        line-height: 40px;
        margin: 50px auto 0 auto;
        text-align: center;
    }

    &__logo {
        text-align: center;
        display: block;
    }


}